@import 'pro.min.css';
@import 'https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&amp;display=swap';

:root {
	--background: hsl(0deg 0% 5% / 45%);
	--font: 'Josefin Sans', sans-serif;
}

*,
:after,
::before {
	box-sizing: border-box
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	color: #fff;
	background: #191919;
	line-height: 1.5;
	font-family: var(--font);
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1050;
	top: 0;
	left: 0;
	pointer-events: none;
}

::-webkit-scrollbar {
	width: 5px
}

::-webkit-scrollbar-track {
	background: #191919;
}

::-webkit-scrollbar-thumb {
	background: #353535;
	border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
	background: #303030
}

a {
	position: relative;
	z-index: 950;
	color: white;
	text-decoration: none;
}

a, img, video {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}

img, video {
	object-fit: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

p {
	font-size: 20px;
	color: #4b4b4b;
}

h1 {
	font-size: 21px;
	color: white;
	font-weight: bold;
}

span {
	color: #4b4b4b!important;
}

i {
	font-weight: 700;
	text-align: center!important;
	vertical-align: middle!important;
}

li {
	list-style: none;
	text-decoration: none;
}

label {
	color: white;
	font-size: 15px;
	padding-bottom: 5px;
	text-align: left;
}

form {
	margin: 0;
}

input,
input:focus,
textarea,
textarea:focus,
select,
select:focus,
a,
a:focus,
button,
button:focus,
span,
th {
	outline: none;
	border: 0;
	font-family: var(--font);
	cursor: pointer;
}

.center {
	position: relative;
	height: 100%;
	width: 100%;
	display: table;
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 25px;
}

.center-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.fs-85 {
	font-size: 85px;
}

.mt-25 {
	margin-top: 25px;
}

.mb-25 {
	margin-bottom: 25px;
}

.background {
	position: fixed;
	width: 100%;
	height: 100%;
	filter: blur(2.5px);
	opacity: 0.05;
	background-image: url('../../images/backgrounds/background.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.form-group {
	margin-bottom: 15px;
	text-align: left;
}

.form-control {
	display: block;
	width: 100%;
	height: calc(32.5px + 15px + 0);
	padding: 15px 15px;
	color: grey;
	background: #202020;
	border-radius: 2px;
}

.custom-select {
	display: block;
	width: 100%;
	height: calc(32.5px + 15px + 0);
	padding: 15px 15px;
	color: grey;
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
	background: #202020;
	border-radius: 2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	display: block;
	width: 100%;
	height: 75px;
	padding: 10px 15px;
	color: grey;
	background: #282828;
	border-radius: 2px;
	resize: none;
}

.input-group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.input-group>.form-control,
.input-group>.custom-select {
	position: relative;
	width: 1%;
	margin-bottom: 0;
	flex: 1 1 auto;
}

.input-group input {
	text-align: left;
}

.input-group-text {
	font-size: 20px;
	display: flex;
	width: 70px;
	vertical-align: middle;
	align-items: center;
	text-align: center;
	padding: 0 25px;
	color: #4b4b4b;
	border-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background: #222222;
}

.pace {
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace-progress {
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}

button {
	background: transparent;
}

.button {
	background: hsl(0deg 0% 10% / 75%);
	font-size: 13.5px;
	color: #fff;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 17px;
	padding-bottom: 13px;
	text-align: center;
	border-radius: 5px;
	display: inline-block;
	overflow: hidden;
	z-index: 1;
	will-change: opacity, transform;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}

.button .waves-ripple {
	position: absolute;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	opacity: 0;
	background: rgb(255 255 255 / 35%);
	-webkit-transition: all 1.5s ease-out;
	-moz-transition: all 1.5s ease-out;
	-o-transition: all 1.5s ease-out;
	transition: all 1.5s ease-out;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	pointer-events: none;
  }

.button:active {
	border-bottom: 0!important;
    transform: translate(0px, 2.5px);
    -webkit-transform: translate(0px, 2.5px);
}

.button:disabled {
	color: #4b4b4b!important;
	background: hsl(0deg 0% 5% / 25%);
	transition: none!important;
	cursor: default;
	pointer-events: none;
	border-bottom: 0 solid #4b4b4b!important;
	text-shadow: 0 0!important;
}

.menu {
	position: fixed;
	font-weight: 700;
	margin-top: 7.5px;
	margin-left: 10px;
	text-shadow: 0 0 10px #fff;
	z-index: 1025;
}

@media (min-width: 992px) {
	.menu {
		display: none !important;
	}
}

.invitecount {
	background: red;
	border-radius: 100px;
	padding: 5px;
	color: white;
	font-weight: bold;
}

.modal-open {
	overflow: hidden
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: hidden;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.modal h1 {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 35px;
	text-transform: capitalize;
}

.modal p {
	font-size: 15px;
	color: #555555;
	text-align: center;
	word-break: break-all;
}

.modal-body {
	position: relative;
	flex: 1 1 auto;
	padding: 50px
}

.modal-content {
	display: flex;
	width: 93.5%;
	pointer-events: auto;
	max-width: 485px;
	margin: 15px auto;
	background-color: #0f0f0f;
	border-radius: 2px;
	background-image: url('../img/modal.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.modal-content-wide {
	display: flex;
	width: 93.5%;
	pointer-events: auto;
	max-width: 850px;
	margin: 15px auto;
	background: #050505;
	border-radius: 2px;
}

.modal-dialog {
	position: relative;
	width: auto;
	pointer-events: none
}

.modal.fade .modal-dialog {
	transition: transform .5s cubic-bezier(0.55, -0.77, 0, 1.53);
}

.modal-dialog-scrollable .modal-body {
	overflow-y: auto
}

.modal-dialog-centered {
	display: flex;
	align-items: center;
	min-height: calc(100% - 1rem)
}

.fade {
	transition: opacity .25s linear
}

@media(prefers-reduced-motion:reduce) {
	.fade {
		transition: none
	}
}

.fade:not(.show) {
	opacity: 0
}

.collapse:not(.show) {
	display: none
}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	transition: height .35s ease
}

@media screen and (prefers-reduced-motion:reduce) {
	.collapsing {
		transition: none
	}
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background: #000
}

.modal-backdrop.show {
	opacity: 99%
}

.card {
	display: inline-block;
	background: var(--background);
	padding: 25px;
	width: 200px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	margin: 15px;
	border-radius: 2px;
}

.card p {
	margin: 0;
	color: white;
	font-size: 17.5px;
	text-shadow: 0 0 15px #3c3c3c;
}

.panel-box {
	padding: 0;
	display: inline-block;
	width: 650px;
	background: transparent;
}

.panel-box h1 {
	text-align: left;
	font-size: 15px;
	margin-bottom: 0;
}

.w-100 {
	width: 100%!important;
}

.formular {
	background: var(--background);
	padding: 35px;
	max-width: 400px;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
	margin: 15px;
	border-radius: 2px;
}

.formular img {
	width: 175px;
}

.formular h1 {
	float: left;
	color: #656565;
	text-shadow: 0 0 15px #3c3c3c;
	font-size: 17.5px;
	margin-top: 15px;
	margin-bottom: 0;
}

.formular a {
	font-size: 17.5px;
	color: #454545;
	margin-left: 35px;
	margin-right: 35px;
}

.formular i {
	color: #454545;
	text-shadow: 0 0 15px #3c3c3c;
}

.profile {
	max-width: 950px;
	margin: 15px;
}

.profile h1 {
	font-size: 40px;
	color: #4b4b4b;
}

.profile p {
	margin-top: -5px;
	margin-bottom: -5px;
}

.profile img {
	width: 150px;
	height: 150px;
	padding: 5px;
	border-radius: 50px;
	opacity: 0.75;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.profile-detail {
	vertical-align: top;
	margin: 5px;
	display: inline-block;
	text-shadow: 0 0 10px rgba(255, 255, 255, 1);
	border-bottom: 2px solid #353535;
	padding: 15px 25px;
	border-radius: 50px;
}

.profile-detail p {
	vertical-align: top;
	color: white;
	font-size: 17.5px;
	margin-bottom: -11px;
}

.profile-detail i {
	font-size: 20px;
	margin-bottom: 6px;
}

.profile-description {
	margin-top: 15px;
	padding: 15px;
	word-break: break-all;
	text-align: left;
}

hr {
	border: 1px solid #1d1d1d;
	border-radius: 10px;
}

.border:hover {
	background: hsl(0deg 0% 10% / 45%);
	transition: 0.5s;
}

.chat {
	max-width: 1000px;
	display: inline-block;
	width: 100%;
	padding-left: 2.5px;
	padding-right: 2.5px;
	text-align: left;
	border-radius: 2px;
}

.message {
	margin-bottom: 5px;
}

.message p {
	font-size: 13.5px!important;
	text-align: left;
	word-break: break-word;
	color: #4b4b4b;
}

.message p span {
	display: inline-block;
	width: 55px;
	text-align: center;
}

.generator {
	display: inline-block;
	margin: 10px;
}

figure {
	position: relative;
	overflow: hidden;
	border-radius: 2px;
	margin: 10px;
	width: 300px;
	height: 395px;
}

figure img {
	height: 100%;
	width: 100%;
	transition: 1.5s;
	opacity: 0.50;
	filter: grayscale(75%) blur(1px);
}

figure:hover img {
	transition: 1.5s;
	opacity: 1;
	filter: grayscale(0%) blur(0px);
	transform: scale(1.0);
}

figure.effect-honey h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 25px;
	text-transform: capitalize;
	text-align: left;
	text-shadow: 0 0 15px #fff;
	-webkit-transform: translate3d(0, 15px, 0);
	transform: translate3d(0, 15px, 0)
}

figure.effect-honey h2 i {
	font-style: normal;
	font-size: 20px;
	letter-spacing: 1px;
	opacity: 0;
	text-transform: none;
	transition: opacity .35s, -webkit-transform .35s;
	transition: opacity .35s, transform .35s;
	transition: opacity .35s, transform .35s, -webkit-transform .35s;
	-webkit-transform: translate3d(0, 30px, 0);
	transform: translate3d(0, 30px, 0)
}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
	transition: -webkit-transform .55s;
	transition: transform .55s;
	transition: transform .55s, -webkit-transform .55s
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover h2 i {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.image-box {
	text-transform: uppercase;
}

.image-box img {
	opacity: 1;
	border-radius: 5px;
	height: 350px;
	width: 350px;
	padding: 10px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.50);
}

.image-box video {
	opacity: 1;
	border-radius: 5px;
	height: 350px;
	width: 350px;
	padding: 10px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.50);
}

.gallery-info {
	vertical-align: middle;
	border-radius: 2px;
	background: hsl(0deg 0% 5% / 45%);
    width: 410px;
    padding: 15px;
    transition: 0.5s;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	display: inline-block;
	margin: 10px;
}

.gallery-hover:hover {
	background: hsl(0deg 0% 15% / 75%);
}

.gallery-info p {
	color: #4b4b4b;
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 15px;
	text-align: center;
	font-weight: 300!important;
}

.gallery-info i {
	color: #4b4b4b;
	margin-top: 5px;
	font-size: 45px;
}

.gallery-box {
	vertical-align: middle;
	width: 410px;
	border-radius: 2px;
	background: hsl(0deg 0% 5% / 45%);
	padding: 5px;
    transition: 0.5s;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	display: inline-block;
	margin: 10px;
}

.gallery-box:hover {
	background: hsl(0deg 0% 15% / 75%);
}

.gallery-box p {
	color: #4b4b4b;
    padding-left: 15px;
    padding-right: 15px;
	margin-top: -5px;
	margin-bottom: 0;
	font-size: 13.5px;
	letter-spacing: 0.5px;
	text-align: left;
}

.gallery-box i {
	color: #4b4b4b;
	margin-top: -2.5px;
	font-size: 13.5px;
}

.gallery-box img {
	width: 100%;
	height: 185px;
	opacity: 0.75;
	filter: grayscale(75%);
    padding: 5px;
	border-radius: 10px;
	transition: 0.5s;
}

.gallery-box:hover img {
	border-radius: 2px;
	filter: grayscale(0%) blur(0px);
    opacity: 1;
}

.image-host {
	vertical-align: top;
	display: inline-block;
	max-width: 450px;
	width: 90%;
	margin: 15px;
}

.image-host i {
	font-size: 85px;
	color: #4b4b4b;
}

.image-host p {
	font-size: 17.5px;
	margin: 0;
	word-break: break-word;
}

.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 22.5px;
}

.switch input {
	opacity: 0;
}

.slider {
	border-radius: 2px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: hsl(0deg 0% 15% / 25%);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 5.5px;
	bottom: 5px;
	background: Darkblue;
	border-radius: 2px;
	transition: 0.5s;
}

input:checked+.slider {
	background: hsl(0deg 0% 15% / 25%);
}

input:focus+.slider {
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5);
}

input:checked+.slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

.viewer {
	background: hsl(0deg 0% 5% / 45%);
	padding: 35px;
	margin: 10px;
	max-width: 1250px;
}

.viewer p {
	font-size: 15px;
	margin: 0;
	color: #4b4b4b;
}

.viewer img {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
	padding: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
	max-width: 850px;
	width: 100%;
	height: 100%;
	border-radius: 2px;
}

.forum {
	max-width: 1500px;
	margin: 15px;
	padding: 75px;
}

.forum h2 {
	font-size: 25px;
	margin: 25px;
	text-align: left;
	border-bottom: 2.5px solid #303030;
}

.forum h1 {
	margin: 0;
	font-size: 17.5px;
	text-shadow: 0 0 15px white!important;
}


.forum h3 {
	margin: 0;
	font-size: 16.5px;
	color: #4b4b4b;
	text-shadow: 0 0 0 transparent;
}

.forum i {
	font-size: 30px;
}

.forum p {
	word-break: break-all;
	margin: 0;
	font-size: 13.5px;
}

.forum a {
	color: #4b4b4b;
}

.navigate {
	width: 33%;
	display: inline-block;
}

.navigate p {
	color: #4b4b4b;
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 15px;
	text-align: center;
	font-weight: 300!important;
}

.navigate i {
	color: #4b4b4b;
	margin-top: 5px;
	font-size: 45px;
}

.post {
	max-width: 1500px;
	margin: 15px;
	padding: 0;
}

.post img {
	width: 115px!important;
	height: 115px!important;
	border-radius: 25px;
	padding: 5px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.post h1 {
	color: #4b4b4b;
	font-size: 25px;
	margin: 0;
}

.header {
	margin: 0!important;
	padding: 10px;
	color: #4b4b4b;
	background:  hsl(0deg 0% 5% / 45%);
}

.header p {
	margin: 0!important;
	text-align: right;
	font-size: 15px;
	margin-right: 5px!important;
}

.postbox {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: left!important;
	margin: 35px;
}

.postbox p {
	margin-top: 0;
	text-align: justify!important;
	font-size: 15px!important;
}

.infos {
	background: hsl(0deg 0% 5% / 45%);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	margin: 10px;
	padding: 10px!important;
	width: 135px;
	font-size: 15px!important;
	border-radius: 2px;
}

.infos p {
	text-align: right!important;
	color: #4b4b4b;
	margin: 0;
	font-size: 15px!important;
}

.p-25 {
	padding: 25px;
}

.p-50 {
	padding: 50px;
}

.dashboard {
	background: var(--background);
	max-width: 1450px;
	margin: 15px;
}

.dashboard h1 {
	margin: 0;
}

.dashboard p {
	font-size: 17.5px;
	line-height: 1.15;
	margin-bottom: 0;
	margin-top: 0;
}

.dashboard i {
	font-size: 45px;
	margin-bottom: 0;
}

.dashboard img {
	width: 150px;
	height: 150px;
	border-radius: 100px;
	padding: 5px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.online {
	max-width: 1000px;
	text-align: justify;
	margin-top: 15px!important;
	margin-bottom: 15px!important;
	font-size: 15px!important;
	word-spacing: 10px;
}

.dashboard-stats {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

.giveaways {
    display: inline-block;
    max-width: 450px;
	width: 100%;
    margin: 25px;
}

.giveaways h1 {
	text-transform: capitalize;
    font-size: 25px;
    color: #4b4b4b;
}

.giveaways p {
   margin: 0;
   font-size: 17.5px;
}

.tos {
	max-width: 1000px;
	margin: 15px;
}

.tos h1 {
	font-size: 35px;
}

.tos i {
	font-size: 75px;
}

.tos p {
	text-align: justify;
	font-size: 17.5px;
	margin: 0;
}

.users {
	display: inline-block;
	max-width: 1500px;
	width: 100%;
	margin: 15px;
}

table {
	width: 100%;
	table-layout: fixed;
	color: #4b4b4b;
	text-align: left;
}

table a {
	color: #4b4b4b;
}

th {
	font-size: 20px;
	background: hsl(0deg 0% 10% / 75%);
	padding: 15px;
	word-break: break-all;
}

td {
	background: hsl(0deg 0% 8% / 75%);
	font-size: 13.5px;
	padding: 5px;
	word-break: break-all;
}

.container {
	position: relative;
}

.icon i {
	position: absolute;
	font-size: 30px!important;
	left: 0;
	right: 35px;
	top: 0;
	bottom: 37.5px!important;
	width: 0!important;
	height: 0!important;
	margin: auto;
}

.hide {
	filter: blur(2.5px);
	transition: 0.5s;
}

.hide:hover {
	filter: blur(0px);
}

.settings {
	margin: 10px;
	max-width: 850px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
}

.settings i {
	vertical-align: middle;
	font-size: 17.5px;
	color: white;
}

.settings h1 {
	font-size: 40px;
	color: #4b4b4b;
}

.settings img {
	width: 130px;
	height: 130px;
	filter: grayscale(50%);
	opacity: 0.75;
	border-radius: 25px;
	padding: 5px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.box {
	max-width: 850px;
	width: 100%;
	text-align: left;
	margin: 10px;
}

.box h1 {
	color: #ffffff;
	font-size: 20px!important;
	font-weight: 700;
	margin-bottom: 0;
}

.box p {
	font-size: 17.5px!important;
	word-break: break-word;
	margin-top: -5px;
	margin-bottom: 7.5px;
}

.box i {
	font-size: 15px;
}

.box-icon {
	font-size: 49.5px!important;
	float: right;
}

.box-icon i {
	font-size: 50px!important;
	opacity: 0.50!important;
}

.upgrade {
	display: inline-block;
	width: 475px;
	margin: 25px;
	vertical-align: top;
}

.upgrade h1 {
	font-size: 35px;
	margin-top: 0;
	margin-bottom: -25px;
}

.upgrade h3 {
	color: #4b4b4b;
	letter-spacing: 2px;
}

.upgrade p {
	margin-top: -5px;
	margin-bottom: -5px;
	font-size: 18.5px;
	text-align: left;
}

.upgrade i {
	width: 50px;
}

.green {
	color: green;
}

.red {
	color: red;
}

.history {
	max-width: 1250px;
	margin: 15px;
	text-align: center;
}

.history p {
	margin-top: -15px;
	font-size: 17.5px;
}

.history h1 {
	margin: 0;
	font-size: 35px;
}

.history img {
	margin: 5px;
	width: 125px;
	height: 125px;
	padding: 5px;
	opacity: 0.75;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#Admin {
	font-weight: 700;
	color: #acacac;
	text-shadow: 0 0 10px #acacac;
	background-image: url(../../../i.imgur.com/CS9dLjS.gif);
}

#Lifetime {
	font-weight: 700;
	color: #737373;
	text-shadow: 0 0 10px #737373;
	background-image: url(../../../i.imgur.com/CS9dLjS.gif);
}

#Premium {
	font-weight: 700;
	color: #565656!important;
	text-shadow: 0 0 10px #565656;
	background-image: url(../../../i.imgur.com/CS9dLjS.gif);
}

#User {
	color: #4b4b4b!important;
}

#Banned {
	color: black!important;
	text-decoration: line-through;
}

.notfound {
	display: none;
}

.fadeIn {
	animation: fadeIn ease 20s;
	-webkit-animation: fadeIn ease 20s;
	-moz-animation: fadeIn ease 20s;
	-o-animation: fadeIn ease 20s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.uploadicon {
	position: absolute;
	z-index: 1050;
	right: 0;
	left: 0;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	font-size: 35px!important;
	padding: 10px 25px;
	width: 100px;
}

.menuicon {
	width: 35px;
	text-align: center;
}

.dataTables_length {
	float: left;
}

.dataTables_filter {
	float: right;
}

.dataTables_info {
	float: left;
}

.dataTables_paginate {
	float: right;
}

.dataTables_length,
.dataTables_filter,
.dataTables_infoe {
	color: #4b4b4b;
	padding-bottom: 10px;
}

.pagination {
	display: inline-block;
	padding: 5px 12.5px;
	color: #4b4b4b;
	background: #191919;
	border: 2px solid #191919;
	border-radius: 2px!important;
	transition: 0.5s;
	margin-top: 10px;
}

.pagination.current {
	color: #4b4b4b !important;
	border: 2px solid #202020;
	background: #202020;
	transition: 0.5s;
}

.pagination.disabled,
.pagination.disabled:hover {
	cursor: default;
	background: #191919;
	border: 2px solid #191919;
	color: #4b4b4b!important;
}

.pagination:hover {
	color: white!important;
	border: 2px solid #252525;
	background: #252525;
	transition: 0.5s;
}

.pagination i {
	color: #4b4b4b!important;
	transition: 0.5s;
}

.pagination:hover i {
	color: white!important;
	transition: 0.5s;
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 20px;
	color: #4b4b4b;
	font-size: 25px;
	font-weight: 700;
	transition: 0.5s;
}

.close:hover {
	color: white;
	transition: 0.5s;
}

.iziToast {
	font-family: var(--font)!important;
	font-size: 17.5px!important;
	padding: 9px 35px 9px 20px!important;
	background: #151515!important;
	border-color: #353535;
	border-radius: 5px!important;
	width: 100%;
	font-weight: 300!important;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)!important;
	transform: translateX(0);
}

.active {
	background: #151515;
	color: white!important;
}

.active i {
	color: white!important;
	text-shadow: 0 0 10px white!important;
}

.page-logo {
	background: hsl(0deg 0% 5% / 50%);
}

.page-sidebar {
	background: hsl(0deg 0% 5% / 50%);
}

@media (max-width: 992px) {
	.page-logo,
	.page-sidebar {
		background: #101010;
	}
}

.page-sidebar span {
	flex: 1;
	align-items: center;
	line-height: normal;
}

.page-logo {
	height: 75px;
	width: 100%;
	text-align: center!important;
	display: flex;
	align-items: center;
	padding: 20px;
}

.page-sidebar {
	position: relative;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	width: 16.875rem;
	max-width: 16.875rem;
	flex-direction: column;
	display: flex;
}

.primary-nav {
	margin-top: 25px;
	margin-bottom: 15px
}

.nav-menu {
	padding: 0;
	list-style: none;
	margin: 0!important;
}

.nav-menu b.collapse-sign {
	display: flex;
	color: #4b4b4b;
	font-size: 20px;
}

.nav-menu ul {
	padding-left: 0;
	list-style: none;
	display: none;
}

.nav-menu li.active>ul {
	display: block;
}

.nav-menu li a {
	display: flex;
	padding: 12.5px 20px;
	font-size: 15px;
	position: relative;
}

.nav-menu li i {
	width: 25px;
}

.nav-menu li a:hover {
	color: white;
	background: rgba(0, 0, 0, 0.1);
}

.page-inner {
	min-height: 100vh;
}

.page-inner {
	display: flex;
}

.page-content-wrapper {
	flex-basis: 100%;
}

@media (min-width: 992px) {
	.nav-function-minify:not(.nav-function-top) .page-sidebar {
		width: 4.6875rem;
		z-index: 1001;
		will-change: width;
		-webkit-transition: all 470ms cubic-bezier(0.34, 1.25, 0.3, 1);
		transition: all 470ms cubic-bezier(0.34, 1.25, 0.3, 1);
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .page-logo {
		width: 4.6875rem;
		padding: 0;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav {
		overflow: hidden;
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav .nav-menu>li>a {
		text-align: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding-left: 0;
		padding-right: 0;
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav .nav-menu>li>a>[class*='fa-'],
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav .nav-menu>li>a>.ni {
		font-size: 1.2375rem;
		margin: 0;
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav .nav-menu>li>a>span {
		display: none;
		position: absolute;
		text-align: left;
		background: transparent;
		padding-left: 1.375rem;
		color: #fff;
		top: 0;
		left: 5.6875rem;
		height: 100%;
		width: 13.75rem;
		margin-top: -1.563rem;
		font-weight: 500;
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav .nav-menu>li>a>b.collapse-sign {
		display: none;
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav .nav-menu>li>a+ul {
		position: absolute;
		width: 13.75rem;
		left: 5.6875rem;
		background: #191919;
		margin-top: -5rem;
		padding-top: 3.75rem;
		border-radius: 4px .5rem .5rem .5rem;
		padding-bottom: 1rem;
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav .nav-menu>li>a+ul>li>a {
		padding-left: 1.375rem;
		padding-top: 0.6rem;
		padding-bottom: 0.6rem;
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav .nav-menu>li>a+ul>li>a>b.collapse-sign>[class*='fa-'],
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav .nav-menu>li>a+ul>li>a>b.collapse-sign>.ni {
		display: inline-block !important;
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav .nav-menu>li>a+ul>li>a+ul>li>a {
		padding-left: 1.71875rem;
		padding-top: 0.6rem;
		padding-bottom: 0.6rem;
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav .nav-menu>li>a+ul>li span>[class*='fa-'],
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav .nav-menu>li>a+ul>li span>.ni {
		display: none;
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav .nav-menu>li>ul {
		display: none !important;
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav:hover {
		overflow: visible;
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav:hover .nav-menu>li:hover>a {
		background: #191919;
		color: #fff;
		overflow: visible;
		z-index: 10;
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav:hover .nav-menu>li:hover>a>span {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		overflow: hidden;
		animation: animateFadeInLeft 0.5s;
		-webkit-animation: animateFadeInLeft 0.5s;
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav:hover .nav-menu>li:hover>a>span:last-child {
		top: 26px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		background: #191919;
		overflow: visible;
		border-radius: 4px 10px 10px 4px;
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav:hover .nav-menu>li:hover>ul {
		display: block !important;
		z-index: 1;
		animation: animateFadeInLeft 0.5s;
		-webkit-animation: animateFadeInLeft 0.5s;
		-webkit-box-shadow: 0 0 40px 0 rgba(82, 63, 105, 0.15);
		box-shadow: 0 0 40px 0 rgb(0 0 0 / 25%);
	}
	.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav:hover .nav-menu>li:hover>ul:after {
		content: "";
		display: block;
		position: absolute;
		height: calc(100% + 180px);
		width: calc(100% + 80px);
		top: -4.125rem;
		z-index: -1;
		left: -1rem;
	}
	.nav-function-minify:not(.nav-function-top) .page-header [data-class="nav-function-minify"] {
		background: #505050;
		border-color: #363636 !important;
		-webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.37);
		box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.37);
		color: #fff !important;
	}
}

@media only screen and (max-width: 992px) {
	.primary-nav {
		overflow: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}
	.dropdown-menu {
		position: static;
		padding: .5rem 0 0 .75rem;
		width: 100%;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
		-webkit-transition: none;
		transition: none;
	}
	.page-content-overlay {
		background: transparent;
		-webkit-transition: background 300ms;
		transition: background 300ms;
		position: fixed;
		z-index: 1001;
	}
	.page-wrapper .page-sidebar {
		z-index: 2000;
		-webkit-transition: all 470ms cubic-bezier(0.34, 1.25, 0.3, 1);
		transition: all 470ms cubic-bezier(0.34, 1.25, 0.3, 1);
		-webkit-transform: translate3d(-16.875rem, 0, 0);
		transform: translate3d(-16.875rem, 0, 0);
		position: fixed !important;
		top: 0;
		bottom: 0;
	}
	.mobile-nav-on {
		-ms-touch-action: none;
		touch-action: none;
		overflow: hidden;
		height: 100vh;
	}
	.mobile-nav-on .page-content-overlay {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.50);
	}
	.mobile-nav-on:not(.nav-mobile-push) .page-sidebar {
		-webkit-transform: translate3d(0px, 0, 0) !important;
		transform: translate3d(0px, 0, 0) !important;
	}
}

@media (max-width: 650px) {
	.gallery-info {
		width: 325px;
	}
	.gallery-box {
		width: 325px;
	}
	.button {
		margin: 5px;
	}
	.modal h1 {
		font-size: 35px!important;
	}
	.viewer {
		padding: 15px;
	}
	.formular {
		padding: 10px;
		box-shadow: 0 0 0;
		background: transparent;
		border: 0;
	}
	.profile {
		padding: 25px;
	}
	.modal-body {
		padding: 25px;
	}
	.imagegenerator {
		margin: 10px;
	}
	.image-box img {
		height: 245px!important;
		width: 245px!important;
		margin: auto;
	}
	.image-box video {
		height: 245px!important;
		width: 245px!important;
		margin: auto;
	}
	.image-host {
		padding: 25px;
	}
	.testgg {
		padding: 10px!important;
	}
	.dashboard {
		padding: 25px!important;
		margin: 15px;
	}
	.users {
		padding: 15px;
	}
	.dashboard-stats p {
		margin: 0;
	}
	.tos {
		padding: 25px;
	}
	.settings {
		padding: 25px;
		width: 325px;
		height: 505px;
	}
	.box {
		width: 325px!important;
		padding: 25px!important;
	}
	.upgrade {
		margin: 15px;
		padding: 25px;
		max-width: 325px!important;
	}
	.history {
		padding: 10px!important;
	}
	.history img {
		margin: 5px!important;
		width: 75px!important;
		height: 75px!important;
		padding: 0!important;
	}
	.nav-menu li a {
		padding: 7.5px 20px;
	}
	.primary-nav {
		margin-top: 0;
		margin-bottom: 71px
	}
}
